.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
}

.cell {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: calc(100% / 3);
  aspect-ratio: 1;
  border-bottom: 5px solid var(--color-black);
  border-right: 5px solid var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell::after {
  content: '';
  position: absolute;
  background-color: red;
}

.top::after {
  width: 10px;
  height: 100%;
}

.left::after {
  width: 100%;
  height: 10px;
}

.topLeft::after {
  transform: rotateZ(135deg);
  width: 10px;
  height: calc(100% * 1.42);
}

.bottomLeft::after {
  transform: rotateZ(45deg);
  width: 10px;
  height: calc(100% * 1.42);
}

.cell:nth-child(n + 7) {
  border-bottom: none;
}

.cell:nth-child(3n) {
  border-right: none;
}
